*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  .header{
    text-align: center;
    font-weight: 500;
  }
  background-color: white;
}

.header{
  /* text-align: center;
  font-weight: 500; */
}

.banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),  url(./components/img/Food\ banner.jpg);
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: white;
}



.banner-{
  height: 700px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

 .Banner-btn{
  padding-top: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
}
/* 
.Banner-btn button{
  padding: 15px 20px;
  color: black;
  background-color: white;
} */

/* Menu secton  */
.menu-page h1{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:700 ;
}

.display{
  width: 100%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;;
}

.menu-container {
  width: 20%;
  height: 750px;
  background-color: 
#f5f1ee;
  color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  border-radius: 10px;

}

.menu-tabs button{
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  padding: 15px;
  cursor: pointer;
    text-transform: capitalize;
  font-weight: 700;
  border: none;
  background-color: 
#dbd5ce;
}

.menus{
  width: 80%;
  /* height: 300px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.menu{
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(214, 214, 214, 0.9);
  text-decoration: none;
  color: black;
}

.menu img{
  /* height: 300px; */
  width: 100%;
  object-fit:cover;
  border-radius: 5px;
}

.menu h3{
    margin: 10px 0;
    font-weight: 500;
    color: rgba(62, 61, 61);
  
}

.menu p{
  line-height: 1.8;
  color: #656565;
  font-size: 16px;
  margin-bottom: 10px;
}

.menu h4{
  margin-bottom: 10px;
  font-size: 15px;
}

.menu button{
  /* padding: 15px 25px;
  display: block;
  margin: 20px 0 20px 0;
  background-color: rgb(157, 94, 94)  ;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none ;
  border-radius: 5px; */
}

.counter{
  margin: 20px 0;
  width: 40px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba 201 201 201 0.4;
  text-align: center;
}

.counter h2{
  font-size: 45px;
  margin: 10px 0 20px 0;
  font-weight: 500;
}

.counterbtn{
  display: flex;
  gap: 10px;
}

.counterbtn button{
  padding: 20px 30px;
  background-color: rgb(157, 94, 94)  ;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;

}

/* props exp */
.btn{

}


/* contact */
.form{
  width: 50%;
  margin: 0 auto;
  /* background-color: white; */
}

.form-container::after{
  background-color: #5887A4;
  content: ' ';
  height:150px ;
  width: 150p;
  position: absolute;
  top: 0;
  right: 20px;
  border-radius: 50%;
  z-index: -1;
}

.form-container::before{
  background-color: #5887A4;
  content: ' ';
  height:200px ;
  width: 200p;
  position: absolute;
  bottom: -20px;
  left: -20px;
  border-radius: 50%;
  z-index: -1;
}


.form-group{
  margin-bottom: 20px;

}

.form-group input:not([type = 'checkbox']), 
.form-group select,
.form-group textarea{
  width: 100%;
  padding: 10px 5px;
  outline: none;
}

.form-group label{
  font-size:14px ;
}

.form-checkbox {
  display: flex;
  align-items: center;
  gap:10px;
}

.form-checkbox span{
  font-size: 14px;

}

span{
  color: red;
  font-size: 14px;
}

/* footer page */
.footer{
  margin-top: 30px;
  background-color: rgb(33, 32, 32);
  color: white;
  padding: 40px ;
}
.footer-links li{
  list-style: none;
}
.footer-links{
  display: flex;
  justify-content: space-between;
}
.footer .socials-icons{
  display: flex;
  gap: 15px;
  font-size: 25px;
}
.footer .links{
  line-height: 2;
}
.copyright{
  margin-top: 40px;
  text-align: center;
  border-top: 1px solid #404040;
}
.copyright p{
  padding-top: 30px;
}
.food-display{
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.food-left{
  width: 30%;
}
.food-container{
  /* height: 300px; */
  width: 40%;
  margin: auto;
}

.food-right{
  width: 30%;
}

.food-header{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.food-container img{
  width: 650px;
  object-fit: cover;
}

/* media responsiveness */
@media(max-width: 780px) {
  .menus{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 656px) {
  .menus{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media(max-width: 500px) {
  .footer .socials-icons{
    display: block;  
  }
}
@media(max-width: 425px) {
  .footer-links{
    display: block;  
  }
  .footer .socials-icons{
    display: flex;
  }
  .footer-links ul{
    padding-top: 15px;
  }
}